{% extends "../_base.html" %} 
{% load crispy_forms_tags %}

{% block title %} Change your password {% endblock title %} 

{% block content %}




<div class="container mt-4">
    <!-- Account page navigation-->
    <nav class="nav nav-borders">
        <a class="nav-link" href="{% url 'account:user_detail' user.username %}">Profile</a>
        <a class="nav-link" href="{% url 'account:user_posts' user.username %}">Posts</a> 
        {% if request.user == user %}
        <a class="nav-link active ml-0" href="{% url 'account_change_password' %}">Change Password</a> 
        {% endif %}
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-8">
            <!-- User's Posts Card-->
            <div class="card mb-4">
                <div class="card-header">Change your password</div>
                <style>

.form-text {
  display: none;
}

</style>
                <div class="card-body">
                    <form method="post">
                        {{ form|crispy }}
                        <p>
                        <button type="submit" class="btn btn-primary">
                            Change
                        </button></p>
                        {% csrf_token %}
                    </form>                   

                </div>
            </div>

        </div>
    </div>
</div>



{% endblock content %}